[submodule "lib/wwwdude"]
	path = lib/wwwdude
	url = https://github.com/pfleidi/node-wwwdude.git
[submodule "lib/connect"]
	path = lib/connect
	url = https://github.com/senchalabs/connect.git
[submodule "lib/step"]
	path = lib/step
	url = https://github.com/creationix/step.git
